
.maindva {
	font-family: Arial;
	height: 1200px;
 	background-image: url('../img/bb.jpg');
 	background-repeat: no-repeat;
 	background-size: cover;
 }
 .maintri {
	font-family: Arial;
	height: 400px;
 	background-image: url('../img/bb.jpg');
 	background-repeat: no-repeat;
 	background-size: cover;
 }
  .galerija {
	font-family: Arial;
	height: 400px;
 	background-image: url('../img/bb.jpg');
 	background-repeat: no-repeat;
 	background-size: cover;
	display:inline-block;
 }
 .main h1 {
 	font-size: 70px;
 	text-align: center;
 	margin: 25px;
 	color: white;
 }
 .main p {
 	font-size: 50px;
 	text-align: left;
 	margin: 5px;
 	color: white;
 }
  .maindva h1 {
 	font-size: 5px;
 	text-align: center;
 	margin: 25px;
 	color: white;
 }
 .maindva p {
 	font-size: 50px;
 	text-align: center;
 	margin: 2px;
	margin-right:20px;
 	color: white;
 }
   .maintri h1 {
 	font-size: 70px;
 	text-align: left;
 	margin: 25px;
 	color: white;
 }
 .maintri p {
 	font-size: 50px;
 	text-align:left;
 	margin: 5px;
 	color: white;
 }
 .prvideolevo{
	 
    width:50%;
	float:left;
	text-align:left;
	margin-left:20px;
	position:relative;
 }
 
 p.prvideolevop{
    font-size:20px;
 }
 
 .prvideodesno{
	 
    width:45%;
	float:right;
	margin-right:20px;
	position:relative;
}
p.prvideodesnop{
    font-size:15px;
	line-height:20px;
}
 .slika1{
	 border-radius:43px;
 }
 .drugideo{
	 width:100%;
	 margin-left:20px;
 }
 p.drugideop{
    font-size:20px; 
	padding-right:20px;
 }
  .slika2{
     width:100%;
	 border-radius:20px;
	 padding-left:2%;
	 padding-right:2%;
  }
 .trecideo{
	 margin-left:0px;
	 margin-right:0px;
	 width:100%;
 }
  .cetvrtideolevo{
	 width:45%;
	 float:left;
	 margin-left:20px;
	 margin-right:20px;
 }
  p.cetvrtideolevop{
    font-size:20px; 
 }
   .cetvrtideodesno{
	 width:45%;
	 float:right;
	 margin-left:20px;
	 margin-right:20px;
 }
  p.cetvrtideodesnop{
    font-size:20px;
	text-align:left;
  }
  .petideo{
	  width:auto;
	  padding:60px;
	  float:right;
  }
p.rodjeni{
	color:white;
}